extends ../main-layout.pug

block main-layout__header__menu__current
    a( href="/" )
        li Home
    a( href="/products/all" )
        li Products
    if userLogged
        a( href="/products/mine" )
            li( class="active" ) My Products
    if userLogged && userLogged.role === 'admin'
        a( href="/admin/product/new" )
            li Add a Product

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/products.css" type="text/css" )

block main-layout__header__err
    div#err=ERR

block main-layout__block
    if !ERR
        div.container-products
            each prod in arrProducts
                div.container-product
                    div.container-product__details
                        h3="Title: " + prod.title
                        hr
                        p='Price: ' + prod.price
                        hr
                        p='Issued on: ' + prod.prodDate
                        hr
                        p='Description: ' + prod.description
                    div.container-product__image-cont
                        img.container-product__image-cont__img( src=prod.image )
                    div.container-product__buttons