extends ../main-layout.pug

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/form-reg-log.css" type="text/css" )

block main-layout__header__menu
    div#tokenHolder( style="display: none" )=loginToken
    div#pathHolder( style="display: none" )=path
    ul.main-layout__menu
        a( href="/" )
            li Home
        div
        a( href="/register" )
            li Register
        a( href="/login" )
            li( class="active" ) Login
        a( href="/logout" )
            li Logout

block main-layout__block
    h1 You are now logged in...
    script.
        var divLoginToken = document.getElementById( 'tokenHolder' );
        var divPath       = document.getElementById( 'pathHolder' );

        var loginToken = divLoginToken.innerText;
        var path       = divPath.innerText.trim() || '/';

        if ( loginToken ) {
            localStorage.setItem( 'loginToken', loginToken );
        } else {
            loginToken = localStorage.getItem( 'loginToken' );
        }

        if ( loginToken ) {
            if ( path.match( /\?/ ) ) {
                window.location = `${path}`;
            } else {
                window.location = `${path}`;
            }
        } else {
            window.location = `${path}`; 
        }